html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html {
  height: 100%;
  font: 300 16px/26px 'Roboto Light';
}

::-webkit-scrollbar-thumb {
    background: #a1d4f1;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #e6e6e6;
}
.fort-input {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    min-height: 30px;
    padding: 0px 10px 0px 10px;
}

.panel-label {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Regular';
	background: white;
}


// перенести верстку в дерево
.tree-element-add {
	width: 40px;
    height: 40px;
    font-size: 23px;
    background: transparent;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin: 0px 5px 10px 0px;
    margin: 0px 5px 10px 1px;
	position: relative;
}

#app-fulltree .tree-element-add::after {
	position:absolute;
	font-family: 'forticon';
	content: '\e912';
	color: #11a8d3;
	font-size: 12px;
	left: -6px;
    top: -9px;
}
.tree-filter, .report-input {
	background-color: #fff;
    font: 300 16px/21px 'Roboto Light';
    padding: 5px 3px 4px;
    border-radius: 6px;
    border: 1px solid #CCC;
	max-width: 200px;
}




div.tree .toggle-children-wrapper-collapsed .toggle-children, div.tree .toggle-children-wrapper-expanded .toggle-children {
	    background-image:none;
		transform: rotate(0deg);
		padding-right: 6px;
}
div.tree .toggle-children-wrapper-collapsed .toggle-children::before { 
	font-family: 'forticon';
	content: '\e912';
	
	color: #11a8d3;
	font-size: 12px;
}

div.tree .toggle-children-wrapper-expanded .toggle-children::before { 
	font-family: 'forticon';
	content: '\e913';
	
	color: #11a8d3;
	font-size: 12px;
}

.node-content-wrapper {
	font-size: 12px;
}

.fort-tree-node {
	display: flex;
    align-items: center;
}

.fort-tree-node i {
	font-size: 25px;
}

.panel-block {
	display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #CCC;
    margin: 0px 15px 0px 15px;
}

.report-input-label {
	font-size: 12px;
    color: #999999;
}

.table-unit {
    min-height: 100px;
    border: 5px solid #eeeeee;
    margin: 10px 10px 10px 10px;
}

.row-unit {
       width: 100%;
    height: 60px;
    border: 2px solid rgba(0,0,0,0.2);
}

.table-unit .row-unit {
       width: 100%;
    height: 60px;
    border: 2px solid rgba(0,0,0,0.2);
	//border-top:none;
}

.column-unit {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 56px;
    align-items: center;
    border: 2px solid transparent;
}

.selectedComponent {
    border-color: #11a8d3 !important;
    //border: 2px solid #11a8d3 !important;
    //height: calc(100% - 4px) !important;
}
.fort-tree-node span {
    min-width: 15px;
}


.menu-dialog .dialog {
    top: 0px !important;
    margin-left: 0px !important;
    height: 100%;
    width: 300px !important;
     background-color: #F3F6FC !important;
}

.menu-dialog .dialog {
    .al-sidebarMenu {


    display: block;

    background-color: #F3F6FC;
    height: 100%;

}

.al-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 18px 0 0 0;
    list-style: none;
}

.al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
}

.al-sidebar-list-item.selected:not(.with-sub-menu) a.al-sidebar-list-link {
    
}

.al-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: black;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.al-sidebar-list-link:hover {
    color:white;
    background: #11a8d3;
}

.al-sidebar-list-link input {
  display: none;
}

}
.report-list-grid-header {
    padding: 7px 10px 6px;
        font-size: 14px;
    color: #ccc;
        display: flex;
}
.report-list-grid-body {
      
        overflow-y: scroll;       
        font-size: 14px;
            color: #000;
}
.report-list-grid-body .report-list-grid-body-row {
    cursor: pointer;
}
.report-list-grid-body .report-list-grid-body-row:nth-child(2n) {
    background: #f3f6fc;;
}
.selectetItem {
        background-color: #ffefbb !important;
}
.leaflet-shadow-pane {
    display: none;
}